BraveSoftware
cef_user_data
Code
discord
QtProject.conf
composer
gtk-*
flameshot
hypr
pulse
spotify
qt5ct
dconf
cava
*.list
heroic
Postman
StarUML
unity3d
yarn
go
filezilla
teamviewer
unity3d
libreoffice